<div class="container">
  <div class="navbar">
    <ul>
      <li><img id="microsoft"  src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31" alt=""></li>
      <li>Office</li>
      <li>Windows</li>
      <li>Surface</li>
      <li>Xbox</li>
      <li>Deals</li>
      <li>Support</li>
      <li>More</li>
      <li><input type="text" placeholder="Search Microsoft.com."></li>
      <li>Sign in</li>
    </ul>
  </div>
  <div class="add">
    <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE25JLw?ver=b92e&q=90&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=25&y=204&s=2095&d=786&aim=true" alt="add">
  </div>
  <div class="navbar">
    <ul>
      <li><img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LLFX?ver=0b67" alt="">&nbsp;OFFICE</li>
      <li><img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LW3b?ver=b3f4" alt="">&nbsp; SURFACE DEALS</li>
      <li><img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LRcc?ver=20ef" alt="">&nbsp; XBOX DEALS</li>
      <li><img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LGuv?ver=bb55" alt="">&nbsp; PC DEALS</li>
      <li><img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LLFW?ver=29bd" alt="">&nbsp; ALL DEALS</li>
    </ul>
  </div>

  <div id="featured-product">
    <ul class="flexed">
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Xn8P?ver=e88c&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Surface Book 2</h3>
        <p>Prep your grad for success with the most powerful surface ever.</p>
        <h3><a href="#">Shop Now</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1SWuV?ver=57de&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Free Controller</h3>
        <p>Buy an Xbox one and get a bonus Xbox wireless controller free ($59.99 value)</p>
        <h3><a href="#">Shop Now</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1VXGj?ver=bb63&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&x=414&y=182&aim=true" alt="">
        <h3>Office 365</h3>
        <p>Experience the best of office with the latest versions of word excel, powepoint and more.</p>
        <h3><a href="#">Shop Now</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE232cq?ver=2b74&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Up to $500 off</h3>
        <p>Save big on select PC's plus get $200 off Office 365.</p>
        <h3><a href="#">Shop Windows 10 PCS</a><span class="animation"> &#62;</span></h3>
      </li>
    </ul>
  </div>
  <div class="add">
    <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE25JLw?ver=b92e&q=90&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=25&y=204&s=2095&d=786&aim=true" alt="add">
  </div>
  <div id="now-trending">
    <h2>Now trending</h2>
    <ul>
      <li>
        <div>
          <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mm0Z?ver=fd33&w=231&h=197&q=90&m=6&b=%23FFFFFFFF&o=f&aim=true" alt="">
          <h3>X Box One S 1TB Console - Sea of Theives Bundle + Free Select Game</h3>
        </div>
      </li>
      <li>
        <div>
          <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1I4Ep?ver=385f&w=231&h=197&q=90&m=6&b=%23FFFFFFFF&o=f&aim=true" alt="">
          <p id="yellow">SAVE UP TO $200.00</p>
          <h3>Surface Laptop</h3>
          <p>From $799.00</p>
        </div>
      </li>
      <li>
        <div>
          <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW1iIy?ver=b54f&w=231&h=197&q=90&m=6&b=%23FFFFFFFF&o=f&aim=true" alt="">
          <h3>Office 365 Home</h3>
          <p>$99.99 per year</p>
          <p>FreeTry one month for free</p>
          <p>$9.99 per month</p>
          <p>From Free</p>
        </div>
      </li>
      <li>
        <div>
          <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1UKf9?ver=c1cd&w=231&h=197&q=90&m=6&b=%23FFFFFFFF&o=f&aim=true" alt="">
          <h3>FitBit Versa</h3>
          <p>$199.95</p>
        </div>
      </li>
    </ul>
  </div>
  <div id="featured-product">
    <h3>Featured Product</h3>
    <ul class="flexed">
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1hdz4?ver=8e54&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Surface Book 2</h3>
        <p>Prep your grad for success with the most powerful surface ever.</p>
        <h3><a href="#">Shop Now</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1CmIw?ver=e555&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Free Controller</h3>
        <p>Buy an Xbox one and get a bonus Xbox wireless controller free ($59.99 value)</p>
        <h3><a href="#">Shop Now</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1rkw7?ver=6ad2&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Office 365</h3>
        <p>Experience the best of office with the latest versions of word excel, powepoint and more.</p>
        <h3><a href="#">Shop Now</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LJdE?ver=f866&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Up to $500 off</h3>
        <p>Save big on select PC's plus get $200 off Office 365.</p>
        <h3><a href="#">Shop Windows 10 PCS</a><span class="animation"> &#62;</span></h3>
      </li>
    </ul>
  </div>
  <div class="add">
    <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE25JLw?ver=b92e&q=90&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=25&y=204&s=2095&d=786&aim=true" alt="add">
  </div>
  <h3>For Work</h3>
  <div id="for-work">
    <ul class="flexed">
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LJ1I?ver=3ccf&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Free shipping</h3>
        <p>No minimum purchase, no products excluded.  Enjoy free shipping on everything.</p>
        <h3><a href="#">SEE DETAILS</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LBuU?ver=f65b&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Free returns</h3>
        <p>Try out and explore new things.  You can return any device within 30 days after purchase.</p>
        <h3><a href="#">LEARN MORE</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LGlA?ver=85a0&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Free support</h3>
        <p>Experience the best of office with the latest versions of word excel, powepoint and more.</p>
        <h3><a href="#">CONTACT US</a><span class="animation"> &#62;</span></h3>
      </li>
      <li>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1LyBC?ver=d567&q=90&m=6&h=201&w=358&b=%23FFFFFFFF&l=f&o=t&aim=true" alt="">
        <h3>Free learning</h3>
        <p>Save big on select PC's plus get $200 off Office 365.</p>
        <h3><a href="#">FIND A STORE</a><span class="animation"> &#62;</span></h3>
      </li>
    </ul>
  </div>
  <div id="footer">
    <ul>
      <li class="bolder">What's new</li>
      <li>Surface Book 2</li>
      <li>Surface Pro</li>
      <li>Xbox One X</li>
      <li>Xbox One S</li>
      <li>VR & mixed reality</li>
      <li>Windows 10 apps</li>
      <li>Office apps</li>
    </ul>
    <ul>
      <li class="bolder">Store & Support</li>
      <li>Account profile</li>
      <li>Download Center</li>
      <li>Sales & support</li>
      <li>Returns</li>
      <li>Order tracking</li>
      <li>Store locations</li>
      <li>Support</li>
      <li>Buy online, pick up in store</li>
    </ul>
    <ul>
      <li class="bolder">Education</li>
      <li>Microsoft in education</li>
      <li>Office for students</li>
      <li>Office 365 for schools</li>
      <li>Deals for students & parents</li>
      <li>Microsoft Azure in education</li>
      <li>Enterprise</li>
      <li>Microsoft Azure</li>
    </ul>
    <ul>
      <li  class="bolder">Enterprise</li>
      <li>Data platform</li>
      <li>Find a solutions provider</li>
      <li>Microsoft partner resources</li>
      <li>Microsoft AppSource</li>
      <li>Manufacturing & resources</li>
      <li>Financial services</li>
    </ul>
    <ul>
      <li class="bolder">Developer</li>
      <li>Microsoft Visual Studio</li>
      <li>Windows Dev Center</li>
      <li>Developer Network</li>
      <li>TechNet</li>
      <li>Microsoft Virtual Academy</li>
      <li>Microsoft developer program</li>
      <li>Channel 9</li>
      <li>Office Dev Center</li>
    </ul>
    <ul>
      <li class="bolder">Company</li>
      <li>Careers</li>
      <li>About Microsoft</li>
      <li>Company news</li>
      <li>Privacy at Microsoft</li>
      <li>Investors</li>
      <li>Diversity and inclusion</li>
      <li>Accessibility</li>
      <li>Security</li>
    </ul>
  </div>
</div>
